.dialog{
  display: flex;
  justify-content: center;
  border: 3px solid gray;
  margin:0 auto;
  width: fit-content;
}
.number-input{
  display: block;
  margin-right: 20px;
  margin-left: 20px; 
}
.bottoneOk{
  display: block;
  margin-bottom: 20px;
  margin-left: 20px; 
}
h4{
  margin: 20px;
}
#bottoneIndietro{
  margin-left: 10px;
}
.messaggio{
  background-color: lightcoral;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}